<ion-header>
    <ion-navbar color="danger">
      <button ion-button menuToggle>
         <ion-icon name="menu"></ion-icon>
     </button>
     <ion-title>Itineraries</ion-title>
   </ion-navbar>
 </ion-header>
 
 <ion-footer>
     <ion-navbar color="danger">
       <ion-title></ion-title>
     </ion-navbar>
 </ion-footer>

<ion-content padding>
  <ion-list>

    <ion-item *ngFor="let tagent of items">
      <ion-avatar item-start>
      </ion-avatar>
      <h2>{{ tagent.name }}</h2>
      <p>Travel Agent : {{tagent.name}}<br>Note : {{tagent.note}}<br>Last Updated : {{tagent.date_time}}</p>
      <ion-item *ngFor="let event of tagent.events; let i = index">
        <h5 class="card-title" id="contentToConvert2">{{i+1}}. {{event.name}} </h5>
      </ion-item >
      <ion-buttons end>
        <button ion-button icon-only color="red" (click)="deleteRecord(tagent)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-buttons>
    </ion-item>
    
  </ion-list>
</ion-content>
